<div class="container-fluid animated fadeInUp mt-5">

    <table class="table table-bordered table-hover" id="myTable">
        <thead class="bg-dark text-white text-center">
            <tr>
                <th scope="col">S/N</th>
                <th scope="col">FIRSTNAME</th>
                <th scope="col">LASTNAME</th>
                <th scope="col">SURNAME</th>
                <th scope="col">E-MAIL</th>
                <th scope="col">COURSE</th>
                <th scope="col">PHONE</th>
                <th scope="col">IDENTIFICATION</th>
                <th scope="col">TUTOR ID</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>

        <tbody *ngFor="let coursey of coursess let i = index">
            <tr class="text-center">
                <td>{{i + 1}}</td>
                <td>{{coursey.firstname | uppercase}}</td>
                <td>{{coursey.lastname | uppercase}}</td>
                <td>{{coursey.surname | uppercase}}</td>
                <td>{{coursey.email}}</td>
                <td>{{coursey.course | uppercase}}</td>
                <td>{{coursey.phone}}</td>
                <td>{{coursey.identification}}</td>
                <td>{{coursey.tutorid}}</td>
                <td>
                    <button class="btn btn-danger mr-3" (click)="delCourse(coursey)"><span
                            class="fa fa-trash"></span></button>
                    <button class="btn btn-primary" (click)="editbtn(coursey.course_id)"><span
                            class="fa fa-edit"></span></button>

                </td>
            </tr>
        </tbody>
    </table>

    <button mat-raised-button (click)="openDialog()" color="primary"><span
            class="fa fa-plus-circle fa-2x"></span></button>

</div>
<router-outlet></router-outlet>