<div class="container mt-5 mb-5">
    <div class="row mx-auto justify-content-center">
          <h2 class="mt-4 mb-3">SELECT ANY DATE TO VIEW QUESTIONS BEIN SET ON THAT DATE</h2>
            <div class="col-md-6">
                   <mat-form-field class="example-full-width">
                        <mat-label>Select Date</mat-label>
                            <mat-select #selected>
                                <mat-option *ngFor="let mydate of dates" [value]="mydate.dates">
                                     {{mydate.dates | date:'fullDate'}}
                                </mat-option>
                            </mat-select>
                    </mat-form-field>
            </div>

            <button mat-button (click)="checkDate(selected.value)">VIEW</button>
    </div>
</div>
<router-outlet></router-outlet>